---
import WidgetWrapper from "../ui/WidgetWrapper.astro"
---

<!-- The wizard that I borrowed this from to make comments work. https://www.maxpou.fr/blog/giscus-with-astro/ -->
<WidgetWrapper>
  <section class="flex flex-col justify-center items-center mx-auto max-w-4xl -mt-20">
    <h3 class="mb-4 text-2xl font-heading">Comments</h3>
    <script
      is:inline
      src="https://giscus.app/client.js"
      data-repo="alexandzors/blog-comments"
      data-repo-id="${REPLACE_ME_REPO}"
      data-category="blog-comments"
      data-category-id="${REPLACE_ME_CAT}"
      data-mapping="title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async
    ></script>
  </section>
</WidgetWrapper>

<script is:inline>
  function updateGiscusTheme() {
    const theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light'
    const iframe = document.querySelector('iframe.giscus-frame')
    if (!iframe) return
    iframe.contentWindow.postMessage({ giscus: { setConfig: { theme } } }, 'https://giscus.app')
  }

  const observer = new MutationObserver(updateGiscusTheme)
  observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] })

  window.onload = () => {
    updateGiscusTheme()
  }
</script>