---
import '~/components/CustomStyles.astro';
---

<div class="flex mb-4 mt-4 justify-center"><sub class="text-muted italic text-sm">FTC: Some links in this post are income earning affiliate links.</sub></div>