---
// Pulled from starlight and edited to fit this theme. https://starlight.astro.build/components/asides/
import { AstroError } from 'astro/errors';
import { Icon } from 'astro-icon/components';

const asideVariants = ['note', 'tip', 'caution', 'danger'] as const;
const icons = { note: 'tabler:info-circle', tip: 'tabler:bulb', caution: 'tabler:alert-hexagon', danger: 'tabler:radioactive' } as const;

// Default titles for each type of aside
const defaultTitles = {
	note: 'Note',
	tip: 'Tip',
	caution: 'Caution',
	danger: 'Danger',
} as const;

interface Props {
	type?: (typeof asideVariants)[number];
	title?: string;
}

let { type = 'note', title } = Astro.props;

if (!asideVariants.includes(type)) {
	throw new AstroError(
		'Invalid `type` prop passed to the `<Aside>` component.\n',
		`Received: ${JSON.stringify(type)}\n` +
			`Expected one of ${asideVariants.map((i) => JSON.stringify(i)).join(', ')}`
	);
}

// Fallback to default titles if no title is provided
if (!title) {
	title = defaultTitles[type];
}
---

<aside aria-label={title} 
    class={`px-4 py-[.5rem] my-8 border-l-4 text-[var(--aw-color-text-default)] rounded-[.25rem] font-heading font-bold shadow-md
    ${type === 'note' ? 'border-[var(--aw-color-primary)] bg-[var(--aw-color-primary-50)]' : ''}
    ${type === 'tip' ? 'border-[var(--aw-color-green)] bg-[var(--aw-color-green-50)]' : ''}
    ${type === 'caution' ? 'border-[var(--aw-color-yellow)] bg-[var(--aw-color-yellow-50)]' : ''}
    ${type === 'danger' ? 'border-[var(--aw-color-red)] bg-[var(--aw-color-red-50)]' : ''}`}>
    <p class="flex items-center gap-2 font-semibold text-lg text-[var(--color-asides-text-accent)]">
        <Icon name={icons[type]} class="text-2xl" />
        {title}
    </p>
    <section class="-py-1 text-lg font-normal">
        <slot />
    </section>
</aside>