---
import Layout from '~/layouts/PageLayout.astro';
import { findTagsWithOccurrences } from '~/utils/blog';
import ContentWrapper from '~/components/custom/ContentWrapper.astro';

const tagsWithOccurrences = await findTagsWithOccurrences();
const orderedTagsByUsage = Object.entries(tagsWithOccurrences).sort(([,to1], [,to2]) => to2 - to1);

const metadata = {
  title: 'Tags',
};
---

<Layout metadata={metadata}>
  <ContentWrapper>
    <div class="space-y-4 h-dvh">
      <h1 class="text-4xl text-center font-bold font-heading mb-4">Tags</h1>
      <p class="text-lg text-center mb-24">Click a tag below to see all associated posts.</p>
      <div class="flex justify-center flex-wrap gap-2">
        {orderedTagsByUsage.map(([tag, count]) => (
          <a
            href={`/tag/${tag}/`}
            class="inline-block rounded bg-gray-200 px-3 py-1 text-sm font-medium text-gray-700 hover:bg-gray-300"
          >
            {tag} ({count})
          </a>
        ))}
      </div>
    </div>
  </ContentWrapper>
</Layout>