---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContentWrapper from '~/components/custom/ContentWrapper.astro';
import Support from '~/components/widgets/Support.astro';
import { Icon } from 'astro-icon/components';

const supportItems = [
  {
    title: 'Invoice Ninja Pro',
    description: 'Looking for an easy to use and feature rich invoicing solution? Look no further! Sign up for Invoice Ninja Pro using my affiliate link.',
    star: true,
    action: {
      text: 'Sign up',
      href: 'https://app.invoicing.co/#/register?rc=f8gkuraor77sgsgipcjr2rhczmpneny6'
    }
  },
  {
    title: 'Google Workspace Business Starter',
    description: 'Use the below code to get 10% off your first year of Google Workspaces Business Starter.',
    action: {
      text: 'Sign up',
      href: 'https://referworkspace.app.goo.gl/7WQz'
    },
    promoCode: 'U7R7XQ9MG7D4R6N'
  },
  {
    title: 'Google Workspace Business Standard',
    description: 'Use the below code to get 10% off your first year of Google Workspaces Business Standard.',
    action: {
      text: 'Sign up',
      href: 'https://referworkspace.app.goo.gl/7WQz'
    },
    promoCode: 'N4JMQ7WCR96KEYH'
  },
  {
    title: 'Private Internet Access (VPN)',
    description: 'Get a free 30 days of Private Internet Access (VPN) when you sign up with my affiliate link.',
    action: {
      text: 'Sign up',
      href: 'https://www.privateinternetaccess.com/pages/buy-a-vpn/1218buyavpn?invite=U2FsdGVkX1-8fM3Tf_qW3eYYf6yVliXSmIZwo4nDBfM%2CYfeBrdg4n9UbF4jCvDzT83kfTKA'
    }
  },
  {
    title: 'Linode by Akamai',
    description: 'Get a $100 60 day credit when you activate a valid payment method! I use them for all my cloud computing needs. I highly recommend them!',
    star: true,
    action: {
      text: 'Sign up',
      href: 'https://www.linode.com/?r=67f6812cc5712674183021660b122e45095f35b5'
    }
  },
  {
    title: 'Vessi',
    description: "Shop at Vessi via my affiliate link and get $20 off your next purchase of $100+! Who doesn't like free money?",
    action: {
      text: 'Shop Vessi.com',
      href: 'https://vessi.com/pages/friend-signup?ref=09ef16a5af'
    }
  },
  {
    title: 'PayPal',
    description: 'Support me directly via a PayPal donation.',
    action: {
      text: 'Donate',
      href: 'https://paypal.me/alexandzors'
    }
  },
  {
    title: 'GitHub Sponsors',
    description: 'Support me by becoming a GitHub Sponsor!',
    star: true,
    action: {
      text: 'Sponsor',
      href: 'https://github.com/sponsors/alexandzors'
    }
  },
  {
    title: 'Send Crypto',
    description: 'Support me directly via a Crypto donation if you have a Kraken account.',
    star: true,
    action: {
      text: 'Donate',
      href: 'https://kraken.com/pay/alexandzors'
    }
  },
  {
    title: 'Affiliate Links',
    description: 'Clicking affliate links in my posts will earn me a small commission at no extra cost to you. I only recommend products that I use and will not recommend anything I deem to be of low quality.',
  }
];

const metadata = {
  title: 'About',
};
---

<Layout metadata={metadata}>
  <HeroText 
    title="About" 
    subtitle="Hi! My names Alex and I like tech."
  />

  <ContentWrapper>
    <p class="motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
      This blog follows my adventures in homelabbing. DevOps by day homelabber by night. Oh, I also run an IT consultancy business, <a href="https://alexsguardian.net" target="_blank" rel="noopener noreferrer" class="text-primary underline">Alex’s Guardian</a>, for local end users and small businesses!
    </p>
  </ContentWrapper>

  <hr class="my-12 mx-auto w-1/4 border-4 rounded-full border-primary dark:invisible motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade" />

  <ContentWrapper>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-12 motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
      <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 50%; padding-top: 120px;"><a href="https://github.com/alexandzors/blog-files" data-iframely-url="//iframely.net/814sGHZ"></a></div></div><script async src="//iframely.net/embed.js"></script>
      <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 50%; padding-top: 120px;"><a href="https://github.com/alexandzors/blog-comments" data-iframely-url="//iframely.net/Qbsj7VM"></a></div></div><script async src="//iframely.net/embed.js"></script>
    </div>
  </ContentWrapper>

  <hr class="my-12 mx-auto w-1/4 border-4 rounded-full border-primary dark:invisible motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade" />

  <Support
    title="Support the Blog"
    subtitle="I do not run ads on my blog as they suck. So in order to keep up with the small over head of running the site I have listed a few ways below that you can support me. Zero obligations but every little bit helps!"
    highlight="Support Options"
    items={supportItems}
  />

  <hr class="my-12 mx-auto w-1/4 border-4 rounded-full border-primary dark:invisible motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade" />

  <ContentWrapper>
    <h2 class="text-2xl font-bold font-heading mb-2 motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">Post Sponsoring</h2>
    <span class="flex items-center mb-12 motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
      <p class="mr-2 motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
        I do offer post sponsoring for a small fee. However I do not do paid for reviews. <strong class="underline font-bold">I WILL NOT accept payment to write a positive review.</strong> If you are interested in sponsoring a post please reach out via email and we can discuss further details. <a 
        href="mailto:blog@alexsguardian.net" class="text-primary underline inline-flex align-middle">
        <Icon name="tabler:mail" class="w-6 h-6 ml-1 hover:text-secondary justify-center" target="_blank" title="Email Me"/>
      </a>
      </p>
    </span>

    <h2 class="text-2xl font-bold font-heading mb-2 motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">GA Disclaimer</h2>
    <p class="motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade mb-12">
      I use Google Analytics and Search Console to track site engagement and what posts are popular. I do not serve ads or am part of targeted ad programs on any of my sites. They are only used to track site performance. Running a simple ad block on your browser should stop the script from running. :)
    </p>
  </ContentWrapper>
</Layout>