---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContentWrapper from '~/components/custom/ContentWrapper.astro';
import Support from '~/components/widgets/Support.astro';

const supportItems = [
  {
    title: 'Invoice Ninja Pro',
    description: 'Looking for an easy to use and feature rich invoicing solution? Look no further! Sign up for Invoice Ninja Pro using my affiliate link.',
    star: true,
    action: {
      text: 'Sign up',
      href: 'https://app.invoicing.co/#/register?rc=f8gkuraor77sgsgipcjr2rhczmpneny6'
    }
  },
  {
    title: 'Google Workspace Business Starter',
    description: 'Use the below code to get 10% off your first year of Google Workspaces Business Starter.',
    action: {
      text: 'Sign up',
      href: 'https://referworkspace.app.goo.gl/7WQz'
    },
    promoCode: 'U7R7XQ9MG7D4R6N'
  },
  {
    title: 'Google Workspace Business Standard',
    description: 'Use the below code to get 10% off your first year of Google Workspaces Business Standard.',
    action: {
      text: 'Sign up',
      href: 'https://referworkspace.app.goo.gl/7WQz'
    },
    promoCode: 'N4JMQ7WCR96KEYH'
  },
  {
    title: 'Private Internet Access (VPN)',
    description: 'Get a free 30 days of Private Internet Access (VPN) when you sign up with my affiliate link.',
    action: {
      text: 'Sign up',
      href: 'https://www.privateinternetaccess.com/pages/buy-a-vpn/1218buyavpn?invite=U2FsdGVkX1-8fM3Tf_qW3eYYf6yVliXSmIZwo4nDBfM%2CYfeBrdg4n9UbF4jCvDzT83kfTKA'
    }
  },
  {
    title: 'Linode by Akamai',
    description: 'Get a $100 60 day credit when you activate a valid payment method! I use them for all my cloud computing needs. I highly recommend them!',
    star: true,
    action: {
      text: 'Sign up',
      href: 'https://www.linode.com/?r=67f6812cc5712674183021660b122e45095f35b5'
    }
  },
  {
    title: 'Vessi',
    description: "Shop at Vessi via my affiliate link and get $20 off your next purchase of $100+! Who doesn't like free money?",
    action: {
      text: 'Shop Vessi.com',
      href: 'https://vessi.com/pages/friend-signup?ref=09ef16a5af'
    }
  },
  {
    title: 'PayPal',
    description: 'Direct PayPal Donation',
    action: {
      text: 'Donate',
      href: 'https://paypal.me/alexandzors'
    }
  },
  {
    title: 'Affiliate Links',
    description: 'Clicking affliate links in my posts will earn me a small commission at no extra cost to you. I only recommend products that I use and will not recommend anything I deem to be of low quality.',
  }
];

const metadata = {
  title: 'About',
};
---

<Layout metadata={metadata}>
  <HeroText 
    title="About" 
    subtitle="Hi! My names Alex and I like tech."
  />

  <ContentWrapper>
    <p class="text-lg text-center">
      This blog follows my adventures in homelabbing. DevOps by day homelabber by night. Oh, I also run an IT consultancy business, <a href="https://alexsguardian.net" target="_blank" rel="noopener noreferrer">Alex’s Guardian</a>, for local end users and small businesses!
    </p>
  </ContentWrapper>

  <hr class="my-12 mx-auto w-1/2 border-4 rounded-full border-primary dark:invisible" />

  <Support
    title="Support the Blog"
    subtitle="I do not run ads on my blog as they suck. So in order to keep up with the small over head of running the site I have listed a few ways below that you can support me. No obligations!"
    highlight="Support Options"
    items={supportItems}
  />
</Layout>
