---
import Layout from '~/layouts/PageLayout.astro';
import { findTagsWithOccurrences } from '~/utils/blog';
import ContentWrapper from '~/components/custom/ContentWrapper.astro';
import '~/components/CustomStyles.astro';
import HeroText from '~/components/widgets/HeroText.astro';
const tagsWithOccurrences = await findTagsWithOccurrences();
const orderedTagsByUsage = Object.entries(tagsWithOccurrences).sort(([,to1], [,to2]) => to2 - to1);

const metadata = {
  title: 'Tags',
};
---

<Layout metadata={metadata}>
  <HeroText 
    title="Tags" 
    subtitle="Click a tag below to see all associated posts."
  />

  <ContentWrapper>
    <div class="max-w-3xl mx-auto mb-24">
      <div class="flex justify-center flex-wrap gap-4">
        {orderedTagsByUsage.map(([tag, count]) => (
          <a
            href={`/tag/${tag}/`}
            class="group inline-block rounded-lg px-4 py-2 text-sm font-medium
              border border-gray-200 dark:border-gray-700
              transition duration-200 
              hover:bg-primary hover:border-primary hover:text-white hover:shadow-md 
              dark:hover:bg-primary dark:hover:border-primary"
          >
            {tag} <span class="text-muted group-hover:text-white/75">{count}</span>
          </a>
        ))}
      </div>
    </div>
  </ContentWrapper>
</Layout>