---
---
<div id="back-to-top-container" class="sticky bottom-0 text-right pb-6 pr-6 z-50 group opacity-0 invisible transition-opacity duration-500">
  <button
    class="p-3 rounded-full bg-primary text-white transition-all duration-300 hover:bg-secondary shadow-lg shadow-black/25 hover:scale-110"
    aria-label="Back to top"
    title="Back to top"
  >
    <svg 
      xmlns="http://www.w3.org/2000/svg" 
      class="h-6 w-6" 
      viewBox="0 0 24 24" 
      fill="none" 
      stroke="currentColor"
    >
      <path 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        stroke-width="2" 
        d="M5 10l7-7m0 0l7 7m-7-7v18"
      />
    </svg>
  </button>
</div>