.preview{
    padding: 1rem;
    border: solid 2px hsl(224, 100%, 85%);
    border-radius: 1rem;
}
.preview footer{
    display: none;
}
.preview h2{
    font-size: 1.6rem;
}
#starlight__sidebar{
    display: none;
}
.content-panel{
    border-top-width: 0px !important;
}

header>div:nth-child(1) button{
    max-width: 46rem;
}