name: Deploy Main

on:
  push:
    branches:
      - main
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE.md
      - .vscode/**
      - .devcontainer/**
  workflow_dispatch:

permissions:
  contents: read
  actions: write

jobs:
  build:
    if: github.ref == 'refs/heads/main' && !contains(github.event.head_commit.message, 'noci')
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Nodejs
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: npm

      - name: Restore Astro Images
        uses: actions/cache/restore@v4
        id: cache-images-restore
        with:
          path: cache
          key: astro-images-${{ runner.os }}

      - name: Install Dependencies
        run: npm ci

      - name: Replace Variables
        run: |
          sed -i 's/{googleSiteVerificationId}/${{ secrets.GOOGLE_SITE_VERIFICATION_ID }}/g' src/config.yaml
          sed -i 's/{googleAnalyticsId}/${{ secrets.GOOGLE_ANALYTICS_ID }}/g' src/config.yaml
          sed -i 's/{giscusRepoId}/${{ secrets.GISCUS_REPO_ID }}/g' src/components/custom/Comments.astro
          sed -i 's/{giscusCategoryId}/${{ secrets.GISCUS_CATEGORY_ID }}/g' src/components/custom/Comments.astro

      - name: Build
        run: |
          npm run build
          npx pagefind --site dist/

      - name: Test
        uses: chabad360/htmlproofer@master
        with:
          directory: "dist/"
          arguments: --disable-external --checks --allow-hash-href --ignore_urls "/^http:\/\/127.0.0.1/,/^http:\/\/0.0.0.0/,/^http:\/\/localhost/"

      - name: Deploy
        uses: burnett01/rsync-deployments@7.1.0
        with:
          switches: -avr
          path: dist/
          remote_path: /opt/sites/blog/
          remote_host: ${{ secrets.LINODEHOST }}
          remote_port: 22
          remote_user: ${{ secrets.LINODEUSER }}
          remote_key: ${{ secrets.LINODESSHKEY }}

      - name: Purge Cloudflare Cache
        if: (steps.deploy.outcome  == 'success')
        uses: nathanvaughn/actions-cloudflare-purge@master
        with:
          cf_zone: ${{ secrets.CLOUDFLARE_ZONE }}
          cf_auth: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          prefixes: |
            ${{ secrets.BLOGURL }}/assets/
            ${{ secrets.BLOGURL }}/
            ${{ secrets.BLOGURL }}/sitemap.xml
            ${{ secrets.BLOGURL }}/sitemap-0.xml
            ${{ secrets.BLOGURL }}/_astro/
            ${{ secrets.BLOGURL }}/posts/
            ${{ secrets.BLOGURL }}/tags/
            ${{ secrets.BLOGURL }}/categories/
            ${{ secrets.BLOGURL }}/archives/
            ${{ secrets.BLOGURL }}/about/
            ${{ secrets.BLOGURL }}/rss.xml
            ${{ secrets.BLOGURL }}/pagefind/

      # Thanks https://danielwulff.dev/blog/cache-astro-images-across-github-action-runs/

      - name: Check if images cache exists for current branch
        id: actions-cache-list
        env:
          GH_TOKEN: ${{ github.token }}
        run: echo "RESULT=$(gh cache list --ref ${{ github.ref }} --key astro-images-)" >> $GITHUB_OUTPUT

      - name: Clear existing images cache
        if: ${{ steps.actions-cache-list.outputs.RESULT != '' }}
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh cache delete ${{ steps.cache-images-restore.outputs.cache-primary-key }}

      - name: Cache Astro Images
        uses: actions/cache/save@v4
        with:
          path: cache
          key: ${{ steps.cache-images-restore.outputs.cache-primary-key }}